@import 'transitions';

button {
    display: block;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    padding: 1em 1.5em;
    text-decoration: none;
    @include rm-focus-outline;
}

@mixin btn-fillback-lr($color1, $color2) {
    background: linear-gradient(to left, $color1 50%, $color2 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    @include transition-pdt(all, .5s, ease);

    &:hover {
        background-position: left bottom;
    }
}

@mixin btn-fillback-rl($color1, $color2) {
    background: linear-gradient(to right, $color1 50%, $color2 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    @include transition-pdt(all, .5s, ease);

    &:hover {
        background-position: right bottom;
    }
}

.btn {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 1em 1.5em;
    text-decoration: none;
    @include rm-focus-outline;
}

.btn-round {
    border-radius: 30px;
}

.btn-fb-lr-b {
    @include btn-fillback-lr($bahamaBlue, $pacificBlue);
    color: $white;
}

.btn-fb-lr-gw {
    @include btn-fillback-lr(gold, $white);
    color: $black;

    &:hover {
        color: $purple;
    }
}

.btn-fb-lr-gp {
    @include btn-fillback-lr(gold, $purple);
    color: $black;

    &:hover {
        color: $white;
    }
}

.btn-fb-lr-pg {
    @include btn-fillback-lr($purple, gold);
    color: $white;

    &:hover {
        color: $black;
    }
}

.btn-fb-lr-pw {
    @include btn-fillback-lr($purple, $white);
    color: $white;

    &:hover {
        color: $black;
    }
}

.btn-cc-wp {
    background: $white;
    border: 2px solid $white;
    color: $purple2;
    @include transition-pdt(all, .35s, ease);

    &:hover {
        background: none;
        color: $white;
    }
}

.btn-cc-tw {
    background: $white;
    border: 2px solid $white;
    color: $blueBell;
    @include transition-pdt(all, .35s, ease);

    &:hover {
        background: $blueBell;
        color: $white;
    }
}

.btn-fb-rl-gp {
    @include btn-fillback-rl(gold, $purple)
}