/******************************************************************************|
|* APP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ *|
|******************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Rubik|Inconsolata|Exo+2|Raleway|Permanent+Marker&display=swap');
$font-home: 'Rubik', sans-serif;
$font-sans: 'Open Sans', sans-serif;
$font-sans2: 'Montserrat', sans-serif;
$font-content: 'Exo 2', sans-serif;
$font-speaker-job: 'Raleway', sans-serif;
$font-mono: 'Share Tech Mono', monospace;
$font-fancy: 'Permanent Marker', cursive;

$black: #0a0908;
$gold: #ffd700;
$white: #fcfcfc;
$black-75: rgba(0, 0, 0, .75);
$black-50: rgba(0, 0, 0, .5);
$black-100: rgba(0, 0, 0, 1);
$mineShaft-60: rgba(35, 35, 35, .6);
$mineShaft: #373737;
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-|

/******************************************************************************|
|* CONTAINER_HOME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ *|
|******************************************************************************/
$purple: #820263;
$purple2: #191970;
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-|

/******************************************************************************|
|* CONTAINER_ABOUT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ *|
|******************************************************************************/
$bossanova: #42275a;
$eggplant: #734b6d;
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-|

/******************************************************************************|
|* CONTAINER_SPEAKERS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ *|
|******************************************************************************/
$malibu: #8f94fb;
$royalBlue: #5c67dc;
$shark: #212323;
$black-85: rgba(0, 0, 0, .85);
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-|

/******************************************************************************|
|* CONTAINER_SCHEDULE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ *|
|******************************************************************************/
$blueBell: #9999cc;
$bunting: #151853;
$bossanova: #42275a;
$waikawaGray: #5D5E8D;
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-|


/******************************************************************************|
|* CONTAINER_PRICING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ *|
|******************************************************************************/
$lightningYellow: #FEC923;
$tulipTree: #e5b839;
$tropicalRainForest: #007e4f;
$tango: #F36817;
$chathamsBlue: #0F586B;
$persianGreen: #00B28E;
$bonJour: #EDEBEC;
$bahamaBlue: #006F95;
$pacificBlue: #00A8C3;
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-|


/******************************************************************************|
|* CONTAINER_FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ *|
|******************************************************************************/
$boulder: #7D7D7D;
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-|


@mixin breakpoint($point) {
  @if $point == x-large {
     @media only screen and (min-width: 1850px) {
        @content;
     }
  }
  @if $point == large {
    @media only screen and (min-width: 1350px) {
       @content;
    }
  }
  @else if $point == desktop {
    @media only screen and (min-width: 1000px) {
       @content;
    }
  }
  @else if $point == tablet {
    @media only screen and (min-width: 600px) {
       @content;
    }
  }
}

@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin vertical-center {
   position: relative;
   top: 50%;
   -ms-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
}

@mixin keyframes($name) {
   @-webkit-keyframes #{$name} {
     @content;
   }
   @-moz-keyframes #{$name} {
     @content;
   }
   @keyframes #{$name} {
     @content;
   }
}

@mixin css3-prefix($prop, $value) {
   -webkit-#{$prop}: #{$value};
   -moz-#{$prop}: #{$value};
   -ms-#{$prop}: #{$value};
   -o-#{$prop}: #{$value};
   #{$prop}: #{$value};
}

@mixin css3-prefix-wo-ms($prop, $value) {
   -webkit-#{$prop}: #{$value};
   -moz-#{$prop}: #{$value};
   -o-#{$prop}: #{$value};
   #{$prop}: #{$value};
}

@mixin rm-focus-outline{
  -moz-outline-style: none;
  outline:none;
  outline: 0;
  &:focus{
    -moz-outline-style: none;
    outline:none;
    outline: 0;
  }
}

@mixin unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin background-size($property){
  -webkit-background-size: $property;
  -moz-background-size: $property;
  -o-background-size: $property;
  background-size: $property;
}

@mixin background-fill{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h2{
  font-size: 6.75vw;
  @include breakpoint(tablet){
    font-size: 4.5vw;
  }
  @include breakpoint(desktop){
    font-size: 3.1vw;
  }
  @include breakpoint(large){
    font-size: 2.75vw;
  }
  @include breakpoint(x-large){
    font-size: 1.85vw;
  }
}



p{
  margin: 0;
  padding: 0;
}

b{
  margin: 0;
  padding:0;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.container{
  width: 100%;
  height: 100vh;
}

@import 'animations';
@import 'buttons';
@import 'transitions';
@import 'transforms';
