$font-stack: 'Rubik', sans-serif;
$white: #fcfcfc;
$purple: #820263;
$black: #0a0908;
$nav-color: rgba(0, 0, 0, .75);
$nav-color-r: rgba(0, 0, 0, .5);
$nav-color2: rgba(0, 0, 0, 1);
@import url('https://fonts.googleapis.com/css?family=Rubik');

@mixin breakpoint($point) {
   @if $point == large {
      @media only screen and (min-width: 1366px) {
         @content;
      }
   }
   @else if $point == desktop {
      @media only screen and (min-width: 1024px) {
         @content;
      }
   }
   @else if $point == tablet {
      @media only screen and (min-width: 600px) {
         @content;
      }
   }
}

@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin keyframes($name) {
   @-webkit-keyframes #{$name} {
     @content;
   }
   @-moz-keyframes #{$name} {
     @content;
   }
   @keyframes #{$name} {
     @content;
   }
}

@mixin css3-prefix($prop, $value) {
   -webkit-#{$prop}: #{$value};
   -moz-#{$prop}: #{$value};
   -ms-#{$prop}: #{$value};
   -o-#{$prop}: #{$value};
   #{$prop}: #{$value};
}

@mixin css3-prefix-wo-ms($prop, $value) {
   -webkit-#{$prop}: #{$value};
   -moz-#{$prop}: #{$value};
   -o-#{$prop}: #{$value};
   #{$prop}: #{$value};
}

@mixin rm-focus-outline{
  -moz-outline-style: none;
  outline:none;
  outline: 0;
  &:focus{
    -moz-outline-style: none;
    outline:none;
    outline: 0;
  }
}

@mixin unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin background-size($property){
  -webkit-background-size: $property;
  -moz-background-size: $property;
  -o-background-size: $property;
  background-size: $property;
}

@mixin background-fill{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p{
  margin: 0;
  padding: 0;
}

b{
  margin: 0;
  padding:0;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.container{
  width: 100%;
  height: 100vh;
}

@import 'animations';
@import 'buttons';
@import 'transitions';
